.idea
.bin
.include
.lib
pip-selfcheck.json
.pip-selfcheck.json
idea
lib
include
bin
.idea/workspace.xml
/bin
/lib
/include
include/
bin/
lib/
.idea/
./idea
.idea/workspace.xml
/src/db/__pycache__/
/src/globals/__pycache__/
/src/namespaces/__pycache__/
/src/simulation/__pycache__/
/src/globals/__pycache__/
src/namespaces/__pycache__/emissions_namespace.cpython-37.pyc
src/namespaces/__pycache__/__init__.cpython-37.pyc
src/globals/__pycache__/mongodb.cpython-37.pyc
/build.txt